.row

  .col-xs-3
    = form_with model: @category, local: true do |f|

      = f.label :name, 'カテゴリー名'
      = f.text_field :name, class:'form-control'
      = f.submit '追加', class: 'btn btn-primary btn-block'

  .col-xs-9
    - @categories.each do |category|
      = category.tag
      = link_to '編集', edit_category_path(category), class: 'btn-sm btn-primary'
      = link_to '削除', category_path(category), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn-sm btn-danger'