!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BookShelf
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  
  %body
    =render 'layouts/notifications'
    .Header
      .Header__logo
        =link_to books_path, class: "Btn" do
          BookShelf

    = yield

    .Footer
      .Footer__logo
        Design Your BookShelf
      .Footer__link
        %ul.follow-me
          %li
            %a.fab.fa-twitter{href: "https://twitter.com/engineer_tanaka"}
      

